
main {
  padding: 3em 0 2em 0;
  margin-left: 1em;
  /* width: 90vw; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: lightblue;
  color:  black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: aqua;
    color:  black;
    padding: 0 1em;
}
